{% load questions %}
<div class="my-2">
    <label for="labels">標籤</label>
    <input
        required
        x-data="tags_input"
        type="text"
        name="labels"
        class="input input-bordered w-full p-1 tagify--custom-dropdown"
        placeholder="至少要填一個標籤，例如：Javascript、Python、C++、Ruby 或 Java"
        {% if question %}
            value="
                {% for label in question.labels.all %}
                    {{label}},
                {% endfor %}
            "
        {% endif %}
    />
</div>