{% load questions users %}
<ul>
    {% for question in questions %}
    <li class="p-2 mb-1 break-all border-2 shadow text-wrap">
        <div class="flex items-center justify-between">
            <a href="{% url 'questions:show' question.id%}" class="text-2xl link">{{question.title}}</a>
            <div class="relative" x-data="{show: false}" @mouseover="show=true" @mouseleave="show=false">
                <a href="#" class="flex items-center gap-1">
                    {% include "users/partials/_picture.html" with user=question.user size="7" margin="0" only %}
                    <div x-data="convert_to_svg">{{question.user}} {{question.user|teacher_icon}} {{question.user|student_icon}}</div>
                </a>
                {% include "users/partials/_user_card.html" with user=question.user %}
            </div>
        </div>

        <div>
            <span>標籤：</span>
            {% for label in question.labels.all %}
            <span>{{label}}, </span>
            {% endfor %}
        </div>

        <div>
            <span>
                {{question.votes_count}} 個讚 |
            </span>
            <span>
                {{question.answers_count}} 個回答
            </span>
        </div>
    </li>
    {% endfor %}

    {% include "shared/pagination.html" with pages=questions default_message="期待您的提問~" only %}
</ul>