<div
  x-show="currentView === '_my_drafts'"
  class="bg-white shadow rounded-lg p-6"
>
  <h1 class="text-2xl font-bold mb-2">我的草稿</h1>
  <div
    class="p-4 border solid mb-6 border-gray-200 hover:bg-gray-100 transition"
  >
    <ul>
      {% for draft in drafts %}
      <div>
        <a href="{% url 'blogs:edit' draft.pk %}" class="text-xl font-bold"
          >{{ draft.title|striptags|truncatechars:30 }}
        </a>
        <p>最後更新時間: {{ draft.updated_at|date:"Y-m-d H:i" }}</p>
      </div>
      <div>
        <a
          href="{% url 'blogs:edit' draft.pk %}"
          class="text-black hover:text-blue-700"
          >編輯
        </a>
        <form
          method="post"
          action="{% url 'blogs:delete' draft.pk %}"
          class="inline"
        >
          {% csrf_token %}
          <button type="submit" class="text-red-500">刪除</button>
        </form>
      </div>
      {% empty %}
      <p class="text-black">無草稿</p>
      {% endfor %}
    </ul>
  </div>
</div>
