<div
  x-show="currentView === 'reservations_teacher'"
  class="bg-white shadow rounded-lg p-6"
>
  <h1 class="text-2xl font-bold mb-2">我的授課時間</h1>
  <section class="container mx-auto border px-6 py-4 my-4 rounded-lg">
    <div class="flex justify-between items-center p-1">
      <a href="{% url 'reservations:teacher_new' %}" class="btn btn-techecho"
        >新增時間
      </a>
    </div>
    <ul>
      {% for schedule in schedules %}
      <li class="p-2 rounded-lg flex justify-between">
        <div class="flex items-center gap-6">
          <div>
            {{ schedule.start_time|date:'Y/m/d H:i' }} -
            {{schedule.end_time|date:'Y/m/d H:i' }}
          </div>
          <ul>
            {% if schedule.studentreservation_set.exists %} 
            {% for reservation in schedule.studentreservation_set.all %}
            <li class="font-bold flex gap-2 items-center w-full">
              <div>
                已被<span class="text-green-600 px-2 py-1"
                  >{{ reservation.student.get_display_name }}</span
                >學生預約
              </div>
              <a
                href="{% url 'chat:room' reservation.chat_group.id %}"
                class="btn btn-sm"
                >進入聊天室
              </a>
            </li>
            {% endfor %} {% else %}
            <li class="text-gray-500">尚未被學生預約</li>
            {% endif %}
          </ul>
        </div>
        {% if not schedule.studentreservation_set.exists %}
        <div class="flex items-center gap-1">
          <a
            href="{% url 'reservations:teacher_edit' schedule.id %}"
            class="btn btn-sm bg-blue-600 text-white"
            >編輯
          </a>
          <form
            method="POST"
            action="{% url 'reservations:teacher_delete' schedule.id %}"
            onsubmit="return confirm('確定要刪除嗎？')"
          >
            {% csrf_token %}
            <button class="btn btn-sm bg-red-600 text-white">刪除</button>
          </form>
        </div>
        {% endif %}
      </li>
      {% empty %}
      <li class="text-center text-xl text-gray-500 py-4">
        您目前尚未開放授課時間
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
