{% load questions %}
<div class="my-2">
    <label for="labels" class="block mb-2 text-xl text-white">標籤:</label>
    <input required
        x-data="tags_input"
        type="text"
        name="labels"
        class="input input-bordered w-full tagify--custom-dropdown p-1"
        placeholder="至少要填一個標籤，例如：Javascript、Python、C++、Ruby 或 Java"
        {% if teacher %}
            value="
                {% for label in teacher.labels.all %}
                    {{label}},
                {% endfor %}"
            {% endif %}
    />
</div>