{% comment %} for tailwind treeshaking: text-red-500 text-red-300 {% endcomment %}

{% load questions %}
<form
    id="vote"
    hx-post="{% url "questions:votes" question.id%}"
    hx-swap="outerHTML"
    class="flex gap-2 mb-2 items-center"
    x-data="convert_to_svg"
>
    <button name="vote_change" value="upvoted">
        <i class="fa-solid fa-arrow-up text-red-{{vote|questions_votes:"upvoted"}}"></i>
    </button>

    <p>{{question.votes_count}}</p>

    <button name="vote_change" value="downvoted">
        <i class="fa-solid fa-arrow-down text-red-{{vote|questions_votes:"downvoted"}}"></i>
    </button>
</form>
