{% extends 'layouts/base.html' %}

{% block content %}
    <div class="p-6 max-w-4xl mx-auto relative">
        <div class="flex justify-between items-center p-1">
            <h1 class="text-3xl sm:text-5xl font-bold text-blue-2">問題列表</h1>
            <a href="{% url "questions:new" %}" class="btn btn-techecho">問一個新的問題</a>
        </div>

        <div class="flex gap-2 p-1">
            <p>選擇排序依據：</p>
            <form
                hx-get="{% url "questions:index" %}"
                hx-target="#questions_list"
            >
                <button class="link" name="order" value="-votes_count">讚數</button>
                <button class="link" name="order" value="-follows_count">追蹤數</button>
                <button class="link" name="order" value="-id">最新</button>
            </form>
        </div>

        <div id="questions_list">
            {% include "questions/partials/_questions_list.html" with questions=questions only%}
        </div>
    </div>
{% endblock  %}