{% extends 'layouts/base.html' %}


{% block content %}
    <form class="p-6 max-w-4xl mx-auto relative" action="{% url "questions:index" %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-control">
                <label class="label">{{ field.label }}</label>
                {{ field }}
                <span class="text-red-500">{{ field.errors }}</span>
            </div>
        {% endfor %}

        {% include "questions/_labels.html" %}

        <button class="btn">完成此新增</button>
        <a href="{% url "questions:index" %}" class="btn">回到問題列表</a>
    </form>

{% endblock %}