{% extends "layouts/base.html" %}
{% block content %}
<div class="outside">
  <div class="box"></div>
  <div class="reverse-box">TechEcho</div>
</div>

<div class="flex items-center justify-center h-screen mt-auto">
    <div class="relative w-full max-w-xl px-2">
        <form method="GET" action="{% url 'search' %}" class="relative flex items-center">
            <input
                type="text"
                name="q"
                class="w-full p-2 pr-10 border border-gray-300 h-14 rounded-3xl mt-28"
                placeholder="Search..."
                value="{{ query }}"
            >
            <button type="submit" class="absolute text-gray-500 bottom-4 right-5">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="mt-6">
            <a href="{% url 'search' %}?q=javascript" class="tag tag-yellow">JavaScript</a>
            <a href="{% url 'search' %}?q=python" class="tag tag-blue">Python</a>
            <a href="{% url 'search' %}?q=ruby" class="tag tag-red">Ruby</a>
        </div>

</div>

{% endblock content %}