{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
<div class="container mx-auto mt-6 text-center">
    <h1 class="text-5xl font-extrabold tracking-wider transform scale-90 text-green-3 drop-shadow-lg animate-fade-in-and-grow">
        程式技術交流平台
    </h1>
</div>

    <div class="grid max-w-full grid-cols-1 gap-6 m-6 md:grid-cols-3">
        <a href="{% url 'questions:index' %}" class="block p-4 transition duration-300 ease-in-out transform shadow-xl bg-vanilla-5 card card-side hover:scale-110 text-green-3">
            <figure class="flex justify-center">
                <img
                    src="https://techecho.s3.ap-southeast-1.amazonaws.com/homepage_pictures/talk.jpg"
                    alt="talk"
                    class="object-cover w-full h-48 rounded-md md:h-32" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">問題討論</h2>
                <p>快來挖掘技術討論，一起分享吧！</p>
            </div>
        </a>

        <a href="{% url 'teachers:index' %}" class="block p-4 transition duration-300 ease-in-out transform shadow-xl card card-side bg-vanilla-5 hover:scale-110 text-green-3">
            <figure class="flex justify-center">
                <img
                    src="https://techecho.s3.ap-southeast-1.amazonaws.com/homepage_pictures/teacher.jpg"
                    alt="teacher"
                    class="object-cover h-48 rounded-md md:h-32" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">預約專家</h2>
                <p>更深入的技術交流，與資深前輩們一對一討論吧！</p>
            </div>
        </a>

        <a href="{% url 'blogs:index' %}" class="block p-4 transition duration-300 ease-in-out transform shadow-xl card card-side bg-vanilla-5 hover:scale-110 text-green-3">
            <figure class="flex justify-center">
                <img
                    src="https://techecho.s3.ap-southeast-1.amazonaws.com/homepage_pictures/blog.jpg"
                    alt="blog"
                    class="object-cover w-full h-48 rounded-md md:h-32" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">發佈文章</h2>
                <p>分享你的得意技能，展現實力吧！</p>
            </div>
        </a>
    </div>

    <div class="justify-center hidden mt-10 md:flex">
        <h1 class="text-3xl font-bold text-green-3 typing-animation">技術問題、尋找答案、深入諮詢、熱情分享</h1>
    </div>

    <div class="relative z-10 flex items-center justify-center h-full my-10">
        <div class="relative w-full max-w-xl px-2 ">
            <form method="GET" action="{% url 'search' %}" class="relative flex items-center">
                <input
                    type="text"
                    name="q"
                    class="w-full p-2 pr-10 border border-gray-300 h-14 rounded-3xl"
                    placeholder="請輸入要搜尋的程式問題關鍵字或點選下方標籤..."
                    value="{{ query }}"
                >
                <button type="submit" class="absolute text-gray-500 bottom-4 right-5">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="flex flex-wrap mt-6 md:flex-nowrap">
                <a href="{% url 'search' %}?q=javascript" class="tag tag-yellow">JavaScript</a>
                <a href="{% url 'search' %}?q=python" class="tag tag-blue">Python</a>
                <a href="{% url 'search' %}?q=ruby" class="tag tag-red">Ruby</a>
                <a href="{% url 'search' %}?q=java" class="tag tag-green">Java</a>
                <a href="{% url 'search' %}?q=rust" class="tag tag-purple">Rust</a>
                <a href="{% url 'search' %}?q=php" class="tag tag-pink">PHP</a>
                <a href="{% url 'search' %}?q=swift" class="tag tag-teal">Swift</a>
                <a href="{% url 'search' %}?q=golang" class="tag tag-orange">Go</a>
                <a href="{% url 'search' %}?q=typescript" class="tag tag-amber">TypeScript</a>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
