<div x-data="{ messages: [], showAlert(message) {
    Swal.fire({
        title: message.tags.charAt(0).toUpperCase() + message.tags.slice(1),
        text: message.text,
        icon: message.tags,
        timer: 1500,
        showConfirmButton: true
    });
}   }" x-init="
    {% if messages %}
        {% for message in messages %}
            messages.push({ text: '{{ message }}', tags: '{{ message.tags }}' });
        {% endfor %}
    {% endif %}
    messages.forEach(message => showAlert(message));
">
</div>
