{% extends "layouts/base.html" %}

{% block content %}
<div class="p-6 bg-white privacy-policy">
    <h1 class="m-4 text-2xl font-bold text-blue-2">隱私政策</h1>
    <p class="m-4 text-gray-700">
        本隱私政策旨在說明我們如何收集、使用、保存及保護您的個人資料。當您使用我們的網站及服務時，即表示您同意本隱私政策的內容。
    </p>

    <h2 class="m-4 text-xl font-semibold text-orange-8">一、我們收集的資料</h2>
    <p class="m-4 text-gray-600">
        我們會收集您在註冊、使用網站時提供的個人資料，包括但不限於：
        <ul class="pl-5 text-gray-600">
            <li>聯絡資訊（如姓名、電子郵件地址）</li>
            <li>使用者帳號資訊</li>
            <li>瀏覽行為與偏好數據</li>
        </ul>
    </p>

    <h2 class="m-4 text-xl font-semibold text-orange-8">二、我們如何使用您的資料</h2>
    <p class="m-4 text-gray-600">
        我們會將您的資料用於以下目的：
        <ul class="px-8 text-gray-600">
            <li>提供及維護服務</li>
            <li>優化使用者體驗</li>
            <li>市場推廣或通知</li>
        </ul>
    </p>

    <h2 class="m-4 text-xl font-semibold text-orange-8">三、資料的分享與保護</h2>
    <p class="m-4 text-gray-600">
        我們不會將您的個人資料分享給第三方，除非出於法規要求或取得您的明確同意。此外，我們會採取合理的措施保護您的資料免於未經授權的存取或洩漏。
    </p>

    <p class="mt-4 font-bold text-orange-8">
        如果您對本隱私政策有任何疑問，請聯繫我們：<a href="https://github.com/astrocamp/17th-TechEcho" class="font-bold transition duration-300 ease-in-out text-red-6 hover:text-orange-9">[聯絡我們]</a>
    </p>
</div>
{% endblock content %}
