{% extends "layouts/base.html" %}

{% block content %}
<div class="relative max-w-4xl p-6 mx-auto" x-data="{ tab: 'questions' }">
    <div class="flex flex-wrap items-center gap-4 mb-4">
        <h1 class="text-3xl font-bold lg:text-5xl text-blue-2 ">搜尋結果</h1>
        <button @click="tab = 'questions'"
            :class="{'bg-blue-1 text-white': tab === 'questions', 'bg-gray-200 text-black': tab !== 'questions'}"
            class="px-4 py-2 text-lg rounded-md">
            問題列表
        </button>
        <button @click="tab = 'teachers'"
            :class="{'bg-orange-8 text-white': tab === 'teachers', 'bg-gray-200 text-black': tab !== 'teachers'}"
            class="px-4 py-2 text-lg rounded-md">
            專家列表
        </button>
        <button @click="tab = 'blogs'"
            :class="{'bg-green-4 text-white': tab === 'blogs', 'bg-gray-200 text-black': tab !== 'blogs'}"
            class="px-4 py-2 text-lg rounded-md">
            部落格文章
        </button>
    </div>

    <div id="loading-indicator" class="hidden mt-2 text-gray-500">載入中...</div>

    <div id="search">
        <div x-show="tab === 'questions'">
            {% if questions %}
                <ul>
                    {% for question in questions %}
                        <li class="p-4 mb-4 border-2 rounded-lg shadow-md border-blue-2">
                            <div class="flex flex-col items-start justify-between mb-2 sm:flex-row sm:items-center">
                                <h1 class="text-lg font-semibold sm:text-xl">
                                   <a href="{% url 'questions:show' id=question.id %}"
                                      class="text-black border-b-2 border-black hover:underline">
                                      標題：{{ question.title }}
                                   </a>
                                </h1>
                            </div>
                            <div class="p-2 mb-2 border-b border-gray-300">
                                <p>標籤：
                                    {% for label in question.labels.all %}
                                        <span class="text-sm">{{ label }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div>
                                <p class="truncate">{{ question.details|striptags|truncatechars:30 }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="p-4 mb-4 text-gray-500">
                    <p>沒有找到與「<span class="font-bold text-red-6">{{ query }}</span>」相關的問題搜尋結果</p>
                </div>
            {% endif %}
        </div>

        <div x-show="tab === 'teachers'" style="display: none;">
            <ul>
                {% if teachers %}
                    {% for teacher in teachers %}
                        <li class="p-4 mb-4 border-2 rounded-lg shadow-md border-orange-8">
                            <h2 class="text-lg font-semibold sm:text-xl">
                                {% if teacher.user.nickname %}
                                    {{ teacher.user.nickname }}
                                {% else %}
                                    {{ teacher.user.username }}
                                {% endif %}
                            </h2>
                            <p>標籤：
                                {% for label in teacher.labels.all %}
                                    <span class="text-sm">{{ label }}</span>
                                {% endfor %}
                            </p>
                            <div>
                                <p class="truncate">介紹: {{ teacher.introduce|striptags|truncatewords:30 }}</p>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <div class="p-4 mb-4 text-gray-500">
                        <p>沒有找到與「<span class="font-bold text-red-6">{{ query }}</span>」相關的專家搜尋結果</p>
                    </div>
                {% endif %}
            </ul>
        </div>

        <div x-show="tab === 'blogs'" style="display: none;">
            {% if blogs %}
                <ul>
                    {% for blog in blogs %}
                        <li class="p-4 mb-4 border-2 rounded-lg shadow-md border-green-4">
                            <div class="flex flex-col items-start justify-between mb-2 sm:flex-row sm:items-center">
                                <h1 class="text-lg font-semibold sm:text-xl">
                                   <a href="{% url 'blogs:show' pk=blog.id %}"
                                      class="text-black border-b-2 border-black hover:underline">
                                      標題：{{ blog.title }}
                                   </a>
                                </h1>
                            </div>
                            <div class="p-2 mb-2 border-b border-gray-300">
                                <p>標籤：
                                    {% for label in blog.labels.all %}
                                        <span class="text-sm">{{ label }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div>
                                <p class="truncate">內文: {{ blog.content|striptags|truncatewords:30 }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="p-4 mb-4 text-gray-500">
                    <p>沒有找到與「<span class="font-bold text-red-6">{{ query }}</span>」相關的部落格搜尋結果</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
