{% extends "layouts/base.html" %}

{% block content %}
<div class="p-6 bg-white terms-of-service">
    <h1 class="m-4 text-2xl font-bold text-blue-2">服務條款</h1>
    <p class="m-4 text-gray-700">
        本服務條款說明您在使用我們的網站及服務時需遵守的規範。當您使用我們的網站及服務時，即表示您同意本服務條款的內容。
    </p>

    <h2 class="m-4 text-xl font-semibold text-orange-8">一、使用規範</h2>
    <p class="m-4 text-gray-600">
        使用本網站與服務時，您應遵守所有適用的法律法規，並不得從事任何非法活動，包括但不限於：
        <ul class="px-8 text-gray-600">
            <li>未經授權的資料存取或系統攻擊</li>
            <li>侵犯他人權利或隱私的行為</li>
            <li>散佈虛假資訊或違法內容</li>
        </ul>
    </p>

    <h2 class="m-4 text-xl font-semibold text-orange-8">二、責任限制</h2>
    <p class="m-4 text-gray-600">
        我們將盡力維持網站及服務的正常運行，但不對其無間斷或無錯誤的使用提供保證。對於因使用本網站或服務所產生的任何損失或損害，我們不承擔責任。
    </p>

    <h2 class="m-4 text-xl font-semibold text-orange-8">三、使用者義務</h2>
    <p class="m-4 text-gray-600">
        您有責任確保您的帳戶資訊安全，並對您在本網站上的一切行為負責。如發現帳戶有異常活動，請立即通知我們。
    </p>

    <p class="mt-4 font-bold text-orange-8">
        如果您對本服務條款有任何疑問，請聯繫我們：<a href="https://github.com/astrocamp/17th-TechEcho" class="font-bold transition duration-300 ease-in-out text-red-6 hover:text-orange-9">[聯絡我們]</a>
    </p>
</div>
{% endblock content %}
