<div class="relative group">
    <div x-data="follow_user({{ user.is_authenticated|lower}}, {{ user.id|default_if_none:'null' }}, {{ article.user.id }})"
        @mouseover="checkMouseoverColor('{% url 'follows:check_follow_api' article.user.id %}')">
        <div>
            <a href="#">
                <div class="w-[40px] h-[40px] rounded-full border border-gray-94 overflow-hidden">
                    <img src="{% static 'images/visitor.svg' %}" alt="visitor"></img>
                </div>
            </a>
        </div>
        <div x-show="isShow && !isOwnPost"
            class="absolute hidden group-hover:block bg-white p-2 mt-2 rounded-[10px] shadow-lg w-[400px] h-[170px] z-10 top-[33px] -left-[150px]">
            <div class="flex items-center gap-3">
                <div>
                    <a href="#">
                        <div class="w-[80px] h-[80px] rounded-full border border-gray-94 overflow-hidden mt-2 ml-3">
                            <img src="{% static 'images/visitor.svg' %}" alt="visitor" class="w-full h-full"></img>
                        </div>
                    </a>
                </div>
                <div class="flex flex-col justify-center">
                    <div class="mb-1">
                        <a href="#"
                            class="text-[18px] font-semibold leading-6 tracking-[0.2px] text-dark-800">{{article.user}}</a>
                    </div>
                    <div
                        class="w-[40px] h-auto text-[14px] font-extralight leading-4 tracking-[0.2px] text-center mb-1">
                        Lv.10</div>
                    <div class="flex justify-center">
                        <div class="flex justify-center gap-2 pr-2 border-r-2 border-gray-94 text-[14px]">
                            <div><span>發文</span></div>
                            <div><span>3702</span></div>
                        </div>
                        <div class="flex justify-center gap-2 pl-2 text-[14px]">
                            <div><span>粉絲</span></div>
                            <div><span>3248</span></div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <button id="follow-{{ user.id }}" x-ref="buttonStyle"
                @click="followUser('{% url 'follows:follow_api' article.user.id %}', '{% url 'follows:unfollow_api' article.user.id %}', '{% url 'follows:check_follow_api' article.user.id %}', `{{csrf_token}}`)"
                :class="isFollow ? 'bg-red-primary' : 'bg-blue-3d6'" :disabled="isOwnPost"
                class="w-[95%] h-[25%] rounded-[4px] text-[14px] flex items-center justify-center mt-4 mx-auto cursor-pointer">
                <div class="flex items-center justify-center gap-1 text-white">
                    追蹤
                </div>
            </button>
            {% endif %}

        </div>
    </div>
</div>