{% load chat %}

<ul id="message_list" hx-swap-oob="beforeend">
    <li class="fade-up chat
        {% if message|check_author:user %}
            chat-end
        {% else %}
            chat-start
        {% endif %}">
        <div class="chat-header">
            {{message.author.username}}
            <time class="text-xs opacity-50">{{message.created_at}}</time>
        </div>
        <div class="chat-bubble
            {% if message|check_author:user %}
                chat-bubble-success
            {% else %}
                bg-blue-1 text-white
            {% endif %}">
            {{ message.content }}
        </div>
        <div class="chat-footer opacity-50">Delivered</div>
    </li>

    <style>
        @keyframes fadeUp {
            from { opacity: 0; transform: translateY(12px); }
            to { opacity: 1; transform: translateY(0px); }
        }
        .fade-up {
            animation: fadeUp 0.6s ease;
        }
    </style>
</ul>