{% extends 'layouts/base.html' %}

{% comment %} chat-start chat-end {% endcomment %}
{% load chat %}
{% block content %}

<h1>Chat Room: {{ chat_group.group_name }}</h1>

<div class="p-6 max-w-4xl mx-auto relative">
    <div class="border-2 p-6 mx-auto">
        <h1 class="text-xl bg-vanilla-5 py-2 text-center">目前使用者: {{user}} </h1>

        <ul id="message_list" class="mb-2">
            {% for message in chat_messages %}
            <li class="chat chat-{{message|check_author:user}}">
                <div class="chat-header">
                    {{ message.author.username }}
                    <time class="text-xs opacity-50">{{message.created_at}}</time>
                </div>
                <div class="chat-bubble">{{ message.content }}</div>
                <div class="chat-footer opacity-50">Delivered</div>
            </li>
            {% endfor %}
        </ul>

        <form class="w-full py-2 flex flex-row gap-2"
            hx-ext="ws"
            ws-connect="/ws/chatroom/{{ chat_group.id }}/"
            ws-send
            hx-on="htmx:wsAfterSend: this.reset()">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-control w-full">
                {{ field }}
                {% if field.errors %}
                <span class="text-red-500">{{ field.errors }}</span>
                {% endif %}
            </div>
            {% endfor%}
            <button class="btn btn-md bg-green-3 text-white">發送</button>
        </form>
    </div>
</div>

{% endblock %}
