{% extends 'layouts/base.html' %}

{% block content %}
<div>
    <h1>Current User: {{user}} </h1>
    <ul id="message_list">
        {% for chat_message in chat_messages %}
            <li>
                <p>
                    {{chat_message}}
                </p>
                <p>
                    {{chat_message.created_at}}
                </p>
            </li>
        {% endfor %}
    </ul>
    <form
        class="flex flex-col gap-2"
        hx-ext="ws"
        ws-connect="/ws/chatroom/test"
        ws-send
    >
        {% csrf_token %}
        {{form}}
        <button class="btn">send the message</button>
    </form>
</div>

{% endblock %}
