{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/echo.png">
  <link href="{% static 'styles/style.css' %}" rel="stylesheet" />
  <script src="{% static 'scripts/app.js' %}" defer></script>
  <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh.js"></script>
  <title>TechEcho</title>
</head>

<body class="flex flex-col min-h-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% include 'shared/messages.html' %}
  {% include 'layouts/navbar.html' with user=user %}
  <div class="flex-grow">{% block content %} {% endblock %}</div>
  <footer class="w-full p-4 text-center text-white bg-blue-1">
    <a href="#" class="transition duration-300 ease-in-out hover:text-green-3">📞 &ensp;聯絡我們</a>
    |
    <a href="#" class="transition duration-300 ease-in-out hover:text-green-3">🔐 &ensp;隱私政策</a>
    |
    <a href="#" class="transition duration-300 ease-in-out hover:text-green-3">📝 &ensp;服務條款</a>
  </footer>

</body>

</html>