<nav class="sticky top-0 left-0 w-full p-6 shadow-sm bg-blue-1" x-data="{ open: false, submenuOpen: false, expertOpen: false }" @resize.window="if (window.innerWidth > 768) open = false">
    <div class="flex items-center justify-between">
        <div class="text-4xl font-bold text-white animate-pulse whitespace-nowrap">
            <a href="{% url 'index' %}">TechEcho( )</a>
        </div>

        <div class="relative flex-grow max-w-lg mx-4">
            <input
            type="text"
            id="tags"
            placeholder="Search..."
            class="w-full h-12 p-2 pr-6 border border-gray-300"
            />

            <i class="absolute bottom-4 right-5 fa-solid fa-magnifying-glass"></i>
        </div>

        <button @click="open = !open" class="relative text-xl text-white md:hidden whitespace-nowrap">選單</button>

        <ul class="hidden space-x-4 text-xl text-white md:flex">
            <li class="relative">
                <a href="#" @click="submenuOpen = !submenuOpen" class="transition duration-300 ease-in-out hover:text-green-3">討論</a>
                <ul x-show="submenuOpen" @click.away="submenuOpen = false" class="absolute left-0 z-20 mt-8 shadow-lg text-green-3 w-60 bg-vanilla-5" style="display: none;">
                    <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out hover:bg-green-4">發問題</a></li>
                    <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out hover:bg-green-4">看問題</a></li>
                </ul>
            </li>
            <li class="relative">
                <a href="#" @click="expertOpen = !expertOpen" class="transition duration-300 ease-in-out hover:text-green-3">專家</a>
                <ul x-show="expertOpen" @click.away="expertOpen = false" class="absolute left-0 z-20 mt-8 shadow-lg text-green-3 w-60 bg-vanilla-5" style="display: none;">
                    <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out hover:bg-green-4">當專家</a></li>
                    <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out hover:bg-green-4">問專家</a></li>
                </ul>
            </li>
            <li><a href="#" class="transition duration-300 ease-in-out hover:text-green-3">教學</a></li>
            <li><a href="#" class="transition duration-300 ease-in-out hover:text-green-3">登入</a></li>
            <li><a href="#" class="transition duration-300 ease-in-out hover:text-green-3">註冊</a></li>
        </ul>
    </div>
    <ul class="absolute right-0 z-10 w-full mt-6 text-lg shadow-lg bg-vanilla-5"
    x-show="open"
    @click.away="open = false"
    style="display: none;">
    <li @click="submenuOpen = !submenuOpen">
        <a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">討論</a>
        <ul x-show="submenuOpen" class="mt-2 ml-4">
            <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">發問題</a></li>
            <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">看問題</a></li>
        </ul>
    </li>
    <li @click="expertOpen = !expertOpen">
        <a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">專家</a>
        <ul x-show="expertOpen" class="mt-2 ml-4">
            <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">當專家</a></li>
            <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">問專家</a></li>
        </ul>
    </li>
    <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">教學</a></li>
    <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">登入</a></li>
    <li><a href="#" class="block px-4 py-2 transition duration-300 ease-in-out text-green-3 hover:bg-green-4">註冊</a></li>
</ul>
</nav>