<li class="tooltip tooltip-bottom"
    x-data="notifications"
    :data-tip="notificationNumber == 0 && '沒有通知'">
    <button @click.prevent="toggleDropdown()" class="relative">
        <i class="fa-solid fa-bell"></i>
        <span x-ref="number_span" id="notification-number" class="text-white bg-red-700 absolute rounded-full text-xs -mt-1.5 -ml-2 py-0 px-1.5">
            {% if user_with_notifications.notification_set.exists %}
                {{user_with_notifications.notification_set.all|length}}
            {% endif %}
        </span>
    </button>
    <form x-show="notificationOpen" @click.away="closeDropdown()"
        class="absolute right-0 z-20 mt-8 border-2 border-blue-1 text-green-3 w-60 bg-vanilla-5"
        style="display: none"
        hx-ext="ws"
        ws-connect="ws/notifications/">
        <ul x-ref="dropdown"
            id="notification_list"
            class="w-full">
            {% for notification in user_with_notifications.notification_set.all %}
                <li class="flex items-center justify-between gap-1 px-4 py-3 text-blue-700 bg-blue-100 border-t border-b border-blue-500" role="alert">
                    <a class="truncate text-wrap" href="{% url notification.url_name notification.question_id %}#{{notification.answer_id}}">
                        <p class="text-sm">{{notification.message}}</p>
                        <p class="text-xs">{{notification.created_at}}</p>
                    </a>
                    <button name="answer_id"
                        value="{{notification.answer_id}}"
                        class="btn btn-xs"
                        ws-send
                        x-on:click="$nextTick(() => clearCurrent())">
                        X
                    </button>
                </li>
            {% endfor %}
        </ul>
        <button name="answer_id" value="-1"
            ws-send
            class="py-1 text-sm"
            @click="clearAll()"
            x-show="notificationNumber > 0">
            清除所有通知
        </button>
    </form>
</li>

