{% extends "layouts/base.html" %}

{% block content %}
    <h1 class="text-4xl font-bold mt-6 mb-6 text-gray-900 text-center">編輯預約</h1>
    <section class="container mx-auto border px-6 py-4 my-4 rounded-lg">
        <div class="items-center p-1">
            <a href="{% url 'appointments:schedule_available' %}" class="btn">返回可預約時間</a>
            <a href="{% url 'appointments:appointment' %}" class="btn">查看我的預約</a>
        </div>
        <div class="text-md mb-4 mt-4">
            <li class="p-2 rounded-lg flex justify-between">
                <div class="flex items-center gap-4">
                    <p class="font-bold">目前預約<span class="text-blue-600 px-2 py-1">{{ appointment.schedule.teacher.name }}</span>專家時間：</p>
                    <p>{{ appointment.schedule.start_time|date:'Y/m/d H:i' }} - {{ appointment.schedule.end_time|date:'Y/m/d H:i' }}</p>
                </div>
            </li>
        </div>
        <h2 class="text-2xl font-bold mt-6 mb-6 text-gray-900 text-center">選擇新的專家時間</h2>
        <form method="POST" action="{% url 'appointments:appointment_edit' appointment.id %}">
            {% csrf_token %}
            <ul class="list-disc">
                {% for schedule in schedule_available %}
                    <li class="p-2 rounded-lg flex justify-between border mb-2">
                        <div class="flex flex-col">
                            <p>專家：{{ schedule.teacher.name }}</p>
                            <p>時間：{{ schedule.start_time|date:'Y/m/d H:i' }} - {{ schedule.end_time|date:'Y/m/d H:i' }}</p>
                        </div>
                        <button type="submit" name="schedule_id" value="{{ schedule.id }}" class="btn btn-sm bg-green-600 text-white">更新預約</button>
                    </li>
                {% empty %}
                    <li class="text-center text-xl text-gray-500 py-4">目前沒有可預約的時間</li>
                {% endfor %}
            </ul>
        </form>
    </section>
{% endblock %}