{% extends "layouts/base.html" %}

{% block content %}
    <h1 class="text-4xl font-bold mt-6 mb-6 text-gray-900 text-center">新增授課時間</h1>
    <section class="container mx-auto border px-6 py-4 my-4 rounded-lg">
        <div class="text-center text-lg mb-4">
            <form method="POST" action="{% url 'appointments:schedule_new' %}">
                {% csrf_token %}
                <div>
                    <label for="start_time">開始時間：</label>
                    <input type="datetime-local" step="1800" name="start_time" min="2024-09-01T08:30" max="2024-12-31T22:00" value="{{ schedule.start_time|date:'Y-m-d H:i' }}" required>
                </div>
                <div>
                    <label for="end_time">結束時間：</label>
                    <input type="datetime-local" step="1800" name="end_time" min="2024-09-01T08:30" max="2024-12-31T22:00" value="{{ schedule.end_time|date:'Y-m-d H:i' }}" required>
                </div>
                <button type="submit" class="btn btn-md bg-green-600 text-lg text-white mt-4">新增</button>
            </form>
        </div>
    </section>
{% endblock %}
