{% extends "layouts/base.html" %}

{% block content %}

<h1 class="text-center text-3xl font-bold text-gray-900 mb-6">專家檔案</h1>

<div class="p-6 max-w-2xl mx-auto bg-white shadow-lg rounded-lg mt-8">


    <section class="flex justify-center">
        <form action="{% url 'teachers:show' teacher.id %}" method="POST" autocomplete="off" class="space-y-4">
            {% csrf_token %}
            {{ form.user.as_hidden }}
            <div class="grid gap-4">
                <p>暱稱:{{ form.nickname }}</p>
                <p>專業能力:{{ form.expertise }}</p>
                <p>自我介紹:{{ form.introduce }}</p>
            </div>

            <div class="flex">
                <p>開始時間:{{ form.schedule_start }}</p>
                <p>結束時間:{{ form.schedule_end }}</p>
            </div>

            <button type="submit" class="btn btn-active btn-accent">編輯檔案</button>
        </form>
    </section>

</div>

{% endblock %}