{% extends "layouts/base.html" %}

{% block content %}

<h1 class="text-center text-3xl font-bold text-gray-900 mb-6">專家檔案</h1>

<div class="p-6 max-w-2xl mx-auto bg-white shadow-lg rounded-lg mt-8">

    <section class="flex justify-center">
        <form action="{% url 'teachers:show' teacher.id %}" method="POST" autocomplete="off" class="space-y-4 w-full">
            {% csrf_token %}
            <div class="grid gap-6">
                {{ form.user.as_hidden }}
                <div>
                    <label class="block text-gray-700">暱稱:
                        <p class="text-lg text-gray-800">{{ form.nickname }}</p>
                    </label>
                </div>
                <div>
                    <label class="block text-gray-700">專業能力:
                        <p class="text-lg text-gray-800">{{ form.expertise }}</p>
                    </label>
                </div>
                <div>
                    <label class="block text-gray-700">自我介紹:
                        <p class="text-lg text-gray-800">{{ form.introduce }}</p>
                    </label>
                </div>
                <div>
                    <label class="block text-gray-700">諮詢時間:
                        <p class="text-lg text-gray-800">{{ form.schedule }}</p>
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-active btn-accent">編輯檔案
            </button>
        </form>
    </section>
</div>

{% endblock %}