{% extends "layouts/base.html" %}

{% block content %}

<div class="p-6 max-w-4xl mx-auto">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-5xl font-bold text-blue-2">專家列表</h2>
        {% if user.is_authenticated %}
        {% if not user.is_student %}
        <a href="{% url 'payments:index' %}" class="btn btn-neutral">
            升級成為TechEcho Premium用戶以發起線上指導
        </a>
        {% endif %}
        {% endif %}
    </div>

    <div class="mb-6">
        <!-- 全部的篩選 -->
        <a href="{% url 'teachers:index' %}"
            class="btn btn-outline m-2{% if not label_filter %} active{% endif %}">全部</a>

        <!-- 動態生成篩選按鈕 -->
        {% for label in all_labels %}
        <a href="?label={{ label|lower }}"
            class="btn btn-outline m-2{% if label_filter == label|lower %} active{% endif %}">
            {{ label }}
        </a>
        {% endfor %}
    </div>


    <div class="p-6 max-w-4xl mx-auto">
        <section>
            {% for teacher in teachers %}
            <a href="{% url 'teachers:show' teacher.id %}" class="block mb-4 p-4 shadow-md hover:bg-gray-100">
                <div class="flex flex-col">
                    <h3 class="text-2xl font-semibold text-blue-2">專家:{{ teacher.user }}</h3>
                    <p class="m-2 text-xl">專業能力:
                        {% if teacher.labels.all %}
                        {% for label in teacher.labels.all %}
                        <span>{{ label.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        {% else %}
                        無標籤
                        {% endif %}
                    </p>
                    <p class="text-gray-600 mt-1 text-xl">{{ teacher.introduce|truncatechars:50 }}</p>
                </div>
            </a>
            {% endfor %}
        </section>
    </div>

    <div>
        {% include "shared/pagination.html" with pages=teachers only %}
    </div>

</div>

{% endblock %}