{% extends "layouts/base.html" %}

{% block content %}
<div class="p-6 max-w-4xl mx-auto relative">
    <h1 class="text-4xl font-bold mb-6 text-gray-800">專家列表</h1>

    <section>
        {% for teacher in teachers %}
        <a href="{% url 'teachers:show' teacher.id %}"
            class="block mb-4 p-4 bg-white shadow-md rounded-lg hover:bg-gray-100 transition-colors">
            <div class="flex flex-col">
                <h3 class="text-xl font-semibold text-gray-900">{{ teacher.user.username }}</h3>
                <p class="text-gray-700 mt-1">{{ teacher.expertise }}</p>
                {% if teacher.introduce|length > 50 %}
                <p class="text-gray-600 mt-1">{{ teacher.introduce|slice:":50" }}...</p>
                {% else %}
                <p class="text-gray-600 mt-1">{{ teacher.introduce }}</p>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </section>

    <div class="absolute top-6 right-6">
        <a href="{% url 'payments:index' %}" class="btn btn-neutral text-gray-300 hover:text-gray-100 px-4 py-2">
            升級成為TechEcho Premium用戶以發起線上指導
        </a>
    </div>

</div>
{% endblock %}