{% extends "layouts/base.html" %}

{% block content %}
<div id="container">
    <div id="code1" class="code">Python</div>
    <div id="code2" class="code">JavaScript</div>
    <div id="code3" class="code">Ruby</div>
</div>

<div class="flex items-center justify-center min-h-screen">
    <div class="max-w-2xl p-6 mx-auto transition-transform duration-300 transform bg-white rounded-lg shadow-lg hover:scale-125">
        <h1 class="mb-6 text-3xl font-extrabold text-black">
            讓您的知識與實務經驗成為啟發他人的超能力!
        </h1>
        <h2 class="mb-6 leading-relaxed text-gray-700">
            您經歷過學習開發與編程的道路上，不斷遇到問題但沒法找到資深前輩、技術專家深入細節討論、釐清的困境嗎？
            <br>
            登記成為 TechEcho 的技術導師，讓其他人可直接或透過您回覆的問題發起線上即時討論、指導會談，讓您可更具互動性的引導幫助其他成長路上的工程師或技術愛好者。
        </h2>
        <h2 class="mb-8 leading-relaxed text-gray-700">
            無論您是想協助更多技術社群的後進、以教學驗證深化自己對不同領域技術的理解程度，或是純粹以您的技術與知識獲取額外的回報，歡迎成為 TechEcho 技術社群的技術導師。
        </h2>

        <div class="flex justify-center">
            <a href="{% url 'teachers:new' %}" class="w-full px-4 py-2 text-white rounded bg-green-4 btn sm:w-auto hover:bg-green-3">
                立即擁有啟發其他人的超能力
            </a>
        </div>
    </div>
</div>

{% endblock %}
