{% extends "layouts/base.html" %}

{% block content %}

<h1 class="p-3 text-5xl font-bold text-blue-2 text-center">成為專家</h1>

<div class="p-6 m-6 max-w-2xl mx-auto bg-blue-1 mt-8 border border-sky-800 rounded-md">

    <form action="{% url 'teachers:index' %}" method="POST" autocomplete="off" class="space-y-4">
        {% csrf_token %}
        <div class="grid gap-4">
            <p class="text-lg">使用者:</p>
            <p class="text-gray-700 text-lg">{{ request.user }}</p>
            <label for="nickname" class="text-cyan-400">可以自訂暱稱</label>
            <input type="text" name="nickname" value="{{ user.get_display_name }}">
            {{ form.user.errors }}
            {% include "teachers/partials/_labels.html" with teacher=teacher only %}
            <p class="text-lg">自我介紹:</p>
            {{ form.introduce }}
            {% if form.introduce.errors %}
            <span class="text-red-600 text-sm mt-1">
                {{ form.introduce.errors }}
            </span>
            {% endif %}
        </div>

        <div class="flex justify-end">
            <button type="submit" class="btn btn-active btn-accent">成為專家</button>
        </div>
    </form>

</div>

{% endblock %}