{% extends "layouts/base.html" %}

{% block content %}

<h1 class="p-3 text-5xl font-bold text-blue-2 text-center">成為專家</h1>

<div class="p-6 m-6 max-w-full mx-auto mt-8 rounded-md">

    <form action="{% url 'teachers:index' %}" method="POST" autocomplete="off" class="space-y-4 border border-blue-2 bg-vanilla-5 rounded-lg p-3 max-w-full">
        {% csrf_token %}
        <div class="grid gap-4">
            <p class="text-lg">使用者:</p>
            <p class="text-gray-700 text-lg">{{ request.user.username }}</p>
            <label for="nickname" class="text-red-600">可以自訂暱稱(隨時可以調整)</label>
            <input class="p-2 border border-blue-2 input-bordered w-full rounded-lg indent-2" required type="text" name="nickname" value="{{ user.get_display_name }}">
            {{ form.user.errors }}
            {% include "teachers/partials/_labels.html" with teacher=teacher only %}
            <p class="text-lg">自我介紹:</p>
            {{ form.introduce }}
            {% if form.introduce.errors %}
            <span class="text-red-600 text-sm mt-1">
                {{ form.introduce.errors }}
            </span>
            {% endif %}
        </div>

        <div class="flex justify-end">
            <button type="submit" class="btn btn-block text-lg bg-cyan-500 hover:bg-amber-700">成為專家</button>
        </div>
    </form>

</div>

{% endblock %}