{% extends "layouts/base.html" %}
{% load custom_filters %}
{% block content %}

<div class="flex items-center justify-around mb-6">
    <h1 class="p-6 mb-6 text-4xl font-bold text-center text-blue-2">專家檔案</h1>
    <a href="{% url 'chat:room' chat_group.id %}" class="btn">進入聊天室</a>
</div>


<div class="w-full max-w-3xl mb-6 p-6 mx-auto rounded-lg border border-orange-950 bg-blue-1">
    <div class="p-2 m-2 rounded-lg">
        <h2 class="mb-2 text-2xl font-semibold text-white">
            {{ teacher.user }}
        </h2>
        <article class="text-white break-words">{{ teacher.introduce }}</article>
    </div>

    <div class="flex p-2 m-2 indent-2 bg-blue-2">
        <p class="m-2 text-white">專業能力:
            {% if teacher.labels.all %}
            {% for label in teacher.labels.all %}
            <span>{{ label.name }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% else %}
            無標籤
            {% endif %}
        </p>
    </div>

    <div>
        <a href="{% url 'reservations:teacher_index' %}" class="p-2 m-2 btn btn-sm">我的可預約時段</a>
    </div>

    <section class="flex justify-end p-2 m-2">
        <div class="p-2 m-2">
            <h3 class="text-xl font-semibold text-white">提過的問題</h3>
            <ul class="mt-4">
                {% for question in questions %}
                <li class="mb-2 text-center">
                    <a href="{% url 'questions:show' question.id %}" class="text-white hover:text-blue-700">
                        {{ question.title|truncatechars:10 }}
                    </a>
                </li>
                {% empty %}
                <li class="text-white">無提問記錄</li>
                {% endfor %}
            </ul>
        </div>

        <div class="p-2 m-2">
            <h3 class="text-xl font-semibold text-white">回答過的問題</h3>
            <ul class="mt-4">
                {% for answer in answers %}
                <li class="mb-2 text-center">
                    <a href="{% url 'questions:show' answer.question.id %}" class="text-white hover:text-blue-700">
                        {{ answer.content|truncatechars:10 }}
                    </a>
                </li>
                {% empty %}
                <li class="text-white">無回答記錄</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <div class="flex items-center justify-between mt-6">
        {% if request.user == teacher.user %}
        <a href="{% url 'teachers:edit' teacher.id %}" class="px-4 py-2 btn btn-accent">
            修改基本資訊
        </a>

        <a href="{% url 'teachers:delete' teacher.id %}" class="btn btn-error"
            onclick="return confirm('Want to delete?')">
            刪除資訊
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}