#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.code {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

.typing-animation {
  font: bold 200% Consolas, Monaco, monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: .2em solid;
  width: 0;
  animation: typing 5s steps(32, end) forwards, caret 0.75s steps(1) infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 32ch; }
}

@keyframes caret {
  50% { border-right-color: transparent; }
}
