{% load home users %}
<section
  id="{{answer.id}}"
  x-data="{ edit: false }"
  class="container mx-auto border px-6 py-4 my-4 rounded-lg border-2 border-blue-2 bg-white"
>
  <div class="flex justify-between">
    <div class="flex items-center mb-4">
      <a href="#" class="relative" x-data="{show: false}" @mouseover="show=true" @mouseleave="show=false">
        {% include "users/partials/_picture.html" with user=answer.user size="12" margin="4" only %}
        {% include "users/partials/_user_card.html" with user=answer.user %}
      </a>
      <div>
        <p class="text-lg font-medium text-gray-800">
          {{ answer.user.get_display_name }}
          {{ answer.user|teacher_icon }}
        </p>
        <p class="text-gray-500">
          建立時間: {{ answer.created_at|standard_date }}
        </p>
        <p class="text-gray-500">
          更新時間: {{ answer.updated_at|standard_date }}
        </p>
      </div>
    </div>

    {% if user.is_authenticated and user == answer.user %}
    <div class="flex items-center">
      <button @click="edit = !edit" class="btn btn-sm bg-blue-600 text-white">
        編輯
      </button>
      <form
        action="{% url 'answers:delete' answer.id%}"
        method="POST"
        onSubmit="return confirm('確定要刪除嗎？')"
      >
        {% csrf_token %}
        <button class="btn btn-sm bg-red-600 text-white">刪除</button>
      </form>
    </div>
    {% endif %}
  </div>

  <div x-show="!edit" id="answer-content" class="text-lg leading-relaxed mb-4 markdown">
    {{ answer.content|strip_markdown_safe }}
  </div>

  <div x-show="edit" id="edit-form">
    <form
      hx-post="{% url 'answers:edit' answer.id %}"
      hx-target="#answer-content"
      hx-swap="innerHTML"
      @submit.prevent="edit = false"
    >
      {% csrf_token %}
      <textarea
        name="content"
        rows="10"
        class="w-full p-2 border rounded"
        required
      >
        {{ answer.content }}
      </textarea>
      <button type="submit" class="btn btn-sm bg-green-600 text-white mt-4">
        保存
      </button>
    </form>
  </div>

  <div>
  {% include "answers/partials/_votes.html" with user=user answer=answer voted=answer.voted only %}
  </div>
</section>
