{% extends 'layouts/base.html' %} {% block content %}



<div class="flex flex-col justify-center min-h-screen py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2
      class="mt-6 text-3xl font-extrabold text-center text-gray-900 animate-bounce"
    >
      更改密碼
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 bg-gray-100 shadow sm:rounded-lg sm:px-10">

      <form
        action="{% url 'users:change_password' token=token %}"
        class="space-y-6"
        method="POST"
      >
         {% csrf_token %}
         <input type="hidden" name="user_id" value="{{ user_id }}" />
        <div class="flex justify-center">
          <p>請輸入您的新的密碼</p>
        </div>
        <div>
          <label
            for="password1"
            class="block text-sm font-medium text-gray-700"
          >
            新密碼
          </label>
          <div class="mt-1">
            <input
              id="password"
              name="reconfirm_password"
              type="text"
              autocomplete="new-password"
              required
              class="w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="請輸入4~10個字的新密碼"
              required
            />
          </div>
        </div>
        <div>
          <label
            for="password1"
            class="block text-sm font-medium text-gray-700"
          >
            確認新密碼
          </label>
        <div>
          <div class="mt-1">
            <input
              id="password"
              name="reconfirm_password"
              type="text"
              autocomplete="new-password"
              required
              class="w-full mb-4 px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="請確認新密碼"
              required
            />
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md group bg-blue-2 hover:bg-green-3 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            送出確認
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
