{% extends "layouts/base.html" %}
{% load socialaccount %}
{% block content %}

<div class="flex flex-col justify-center min-h-screen py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2
      class="mt-6 text-3xl font-extrabold text-center text-gray-900 animate-bounce"
    >
      歡迎登入
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 bg-gray-100 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div>
          <label
            for="{{ form.username.id_for_label }}"
            class="block text-sm font-medium text-gray-700"
          >
            帳號
          </label>
          <div class="mt-1">
            <input
              id="{{ form.username.id_for_label }}"
              name="{{ form.username.name }}"
              type="text"
              autocomplete="username"
              required
              class="w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="請輸入您的帳號"
            />
          </div>
          {% if form.username.errors %} {% for error in form.username.errors %}
          <p class="mt-2 text-sm text-red-600">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>
        <div>
          <label
            for="{{ form.password.id_for_label }}"
            class="block text-sm font-medium text-gray-700"
          >
            密碼
          </label>
          <div class="mt-1">
            <input
              id="{{ form.password.id_for_label }}"
              name="{{ form.password.name }}"
              type="password"
              autocomplete="current-password"
              required
              class="block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="請輸入您的密碼"
            />
          </div>
          {% if form.password.errors %} {% for error in form.password.errors %}
          <p class="mt-2 text-sm text-red-600">{{ error }}</p>
          {% endfor %} {% endif %}
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input
              id="remember_me"
              name="remember_me"
              type="checkbox"
              class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
            />
            <label for="remember_me" class="block ml-2 text-sm text-gray-900">
              記住我
            </label>
          </div>

          <div class="text-sm">
            <a
              href="{% url 'users:forget_password' %}"
              class="font-medium text-blue-600 hover:text-blue-500"
            >
              忘記密碼？
            </a>
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md group bg-blue-2 hover:bg-green-3 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            登入
          </button>
        </div>
        <div class="flex justify-center">
          <p>
            還沒有帳號？
            <a
              href="{% url 'users:register' %}"
              class="font-medium text-blue-600 hover:text-blue-500"
            >
              註冊
            </a>
          </p>
        </div>
      </form>
      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 text-gray-500 bg-gray-100">
              或者用以下方式登入
            </span>
          </div>
        </div>

         <div class="grid grid-cols-3 gap-3 mt-6">
          <div>
            <a
              href="{% provider_login_url 'github' %}"
              class="flex items-center justify-center w-full px-8 py-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50"
            >
              <img
                class="w-6 h-6"
                src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
                alt="GitHub"
              />
            </a>
          </div>
          <div>
             <a href="{% provider_login_url 'google' %}" class="flex items-center justify-center w-full px-8 py-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50">
              <img
                class="w-6 h-6"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png"
                alt="Google"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
