{% extends "layouts/base.html" %}


{% block content %}

<h1 class="text-2xl font-bold text-gray-900 mb-4"> 讓您的知識與實務經驗成為啟發他人的超能力!</h1>
        <h2 class="text-gray-700 mb-6">
            您經歷過學習開發與編程的道路上，不斷遇到問題但沒法找到資深前輩、技術專家深入細節討論、釐清的困境嗎
            <br>
            登記成為TechEcho的技術導師，讓其他人可直接 或 透過您回覆的問題發起線上即時討論、指導會談，讓您可更具互動性的引導幫助其他成長路上的工程師或技術愛好者
            </h2>
        <h2 class="text-gray-700 mb-6">
            無論您是想協助更多技術社群的後進、以教學驗證深化自己對不同領域技術的理解程度，或是純粹以您的技術與知識獲取額外的回報，歡迎成為TechEcho技術社群的技術導師
        </h2>

        <a href="＃" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">立即擁有啟發其他人的超能力</a>
    </div>

{% endblock  %}
