{% extends 'layouts/base.html' %}

{% block content %}
<div class="flex flex-col md:flex-row max-w-6xl mx-auto bg-white p-6 mt-8 rounded-md shadow-md">
    <div class="w-full md:w-1/2 pr-0 md:pr-4 mb-4 md:mb-0">
        <h1 class="text-2xl font-bold mb-4 text-gray-800">編輯文章</h1>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}

            <div class="mb-4">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>

            <div class="mb-4">
                {{ form.content.label_tag }}
                {{ form.content }}
            </div>

            <div class="mb-4">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>

            <div class="mb-4">
                <label for="id_is_draft">{{ form.is_draft.label }}</label>
                {{ form.is_draft }}
            </div>

            <button type="submit" name="action" value="update" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">
                更新文章
            </button>

            <button type="submit" name="action" value="preview" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md">
                預覽文章
            </button>

            <button type="submit" name="action" value="save_draft" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-md">
                儲存草稿
            </button>
        </form>
        <a href="{% url 'blogs:show' blog.pk %}" class="text-blue-500 hover:underline">取消</a>
    </div>

    <div class="w-full md:w-1/2 pl-0 md:pl-4">
        {% if content_html %}
        <h2 class="text-xl font-bold mb-4 text-gray-800">預覽</h2>
        <div class="prose max-w-full break-words overflow-hidden">
            {{ content_html|safe }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}