{% extends 'layouts/base.html' %}
{% load home static %}
{% block content %}
<div class="max-w-4xl p-6 mx-auto">
    <div class="flex items-center justify-between p-1">
        <h1 class="text-3xl font-bold sm:text-5xl text-blue-2">文章列表</h1>
        <a href="{% url 'blogs:new' %}" class="px-4 py-2 text-white bg-blue-500 rounded">新增文章</a>
    </div>

    <ul class="space-y-4">
        {% for blog in blogs %}
            <li class="p-4 mb-4 border-2 rounded-lg shadow-md border-blue-2 flex items-center bg-white">
                {% if blog.image and blog.image.name %}
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="w-32 h-32 object-cover rounded-lg mr-4">
                {% else %}
                    <img src="{% static 'images/techecho.png' %}" alt="techecho-logo" class="w-32 h-32 object-cover rounded-lg mr-4">
                {% endif %}
                <div class="flex-1 overflow-hidden"> <!-- Added overflow-hidden class -->
                    <div class="flex items-center justify-between">
                        <div class="max-w-full"> <!-- Added max-w-full class -->
                            <a href="{% url 'blogs:show' blog.pk %}" class="text-xl sm:text-2xl font-bold underline truncate block">{{ blog.title|striptags|truncatechars:20 }}</a>
                            <p class="text-sm text-gray-600">標籤:
                                {% for label in blog.labels.all %}
                                    {{label}}
                                {% endfor %}
                            </p>
                            <p class="text-sm text-gray-600">發佈時間: {{ blog.created_at|date:"Y-m-d H:i" }}</p>
                            <p class="text-sm text-gray-600">作者: {{ blog.author.get_display_name }}</p>
                        </div>
                        <div class="text-right">
                            <p class="text-sm text-gray-600">瀏覽: {{ blog.views }}</p>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include 'shared/pagination.html' with pages=blogs default_message="沒有文章可顯示" %}
</div>
{% endblock %}
