{% extends 'layouts/base.html' %}
{% load home %}
{% block content %}
<div class="p-6 max-w-4xl mx-auto">
    <div class="flex justify-between items-center p-1">
        <h1 class="text-4xl">文章列表</h1>
        <a href="{% url 'blogs:new' %}" class="bg-blue-500 text-white px-4 py-2 rounded">新增文章</a>
    </div>

    <ul>
        {% for blog in blogs %}
            <li class="p-4 border-b border-gray-200 hover:bg-gray-100 transition">
                <div class="flex justify-between items-center">
                    <div>
                        <a href="{% url 'blogs:show' blog.pk %}" class="text-2xl font-bold underline">{{ blog.title }}</a>
                        <p class="text-sm text-gray-600">標籤: {{ blog.labels.name }}</p>
                        <p class="text-sm text-gray-600">發佈時間: {{ blog.created_at|date:"Y-m-d H:i" }}</p>
                        <p class="text-sm text-gray-600">作者: {{ blog.author.get_display_name }}</p>
                    </div>
                    <div class="text-right">
                        <p class="text-sm text-gray-600">瀏覽: {{ blog.views }}</p>
                        <p class="text-sm text-gray-600">留言: {{ blog.comments_count }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include 'shared/pagination.html' with pages=blogs default_message="沒有文章可顯示" %}
</div>
{% endblock %}