{% extends 'layouts/base.html' %}

{% block content %}
<div class="flex flex-col max-w-6xl p-6 mx-auto mt-8 rounded-md shadow-md md:flex-row">
    <div class="w-full pr-0 mb-4 md:w-1/2 md:pr-4 md:mb-0">
        <h1 class="mb-4 text-2xl font-bold text-gray-800 ">新增文章</h1>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}


            <div class="mb-4">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>

            <div class="mb-4">
                {{ form.content.label_tag }}
                {{ form.content }}
            </div>

            <div class="mb-4">
                {{ form.labels.label_tag }}
                {{ form.labels }}
            </div>


            <button type="submit" name="action" value="preview" class="px-4 py-2 font-bold text-white bg-gray-500 rounded-md hover:bg-gray-600">

                預覽文章
            </button>

            <button type="submit" name="action" value="publish" class="px-4 py-2 font-bold text-white bg-green-500 rounded-md hover:bg-green-600">
                發佈文章
            </button>

            <button type="submit" name="action" value="save_draft" class="px-4 py-2 font-bold text-white bg-yellow-500 rounded-md hover:bg-yellow-600">
                儲存草稿
            </button>
        </form>
        <a href="{% url 'blogs:index' %}" class="text-blue-500 hover:underline">取消</a>
    </div>


    <div class="w-full pl-0 md:w-1/2 md:pl-4">
        {% if content_html %}
        <h2 class="mb-4 text-xl font-bold text-gray-800">預覽</h2>
        <div class="w-full border-2 shadow-xl card bg-base-100 border-blue-2">
            <div class="card-body markdown h-[75vh] overflow-auto">
                <div class="max-w-full prose break-words">
                    {{ content_html|safe }}
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}



