{% extends 'layouts/base.html' %}

{% block content %}
<div class="max-w-2xl mx-auto p-6 bg-white border border-gray-300 rounded-lg shadow-md">
    <div class="flex items-center mb-6">
        <img src="{{ blog.author.profile_image.url }}" alt="{{ blog.author }}" class="w-12 h-12 rounded-full mr-4">
        <div>
            <p class="text-lg font-semibold">{{ blog.author }}</p>
            <p class="text-sm text-gray-500">{{ blog.created_at|date:"Y-m-d H:i:s" }}</p>
            <p class="text-sm text-gray-500">{{ blog.views }} 瀏覽</p>
        </div>
    </div>

    <div class="mb-6">
        <h1 class="text-2xl font-bold mb-4">{{ blog.title }}</h1>
        <!-- Updated content div with text wrapping -->
        <div class="max-w-full whitespace-pre-wrap break-words">{{ blog.content }}</div>

    </div>

    {% if blog.image %}
    <div class="mb-6">
        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="rounded-lg shadow">
    </div>
    {% endif %}

    <div class="flex justify-between items-center">
        <a href="{% url 'blogs:edit' blog.pk %}" class="text-blue-500 hover:text-blue-700">編輯文章</a>
        <form action="{% url 'blogs:delete' blog.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="text-red-500 hover:text-red-700">刪除文章</button>
        </form>
    </div>
</div>
{% endblock %}