{% extends 'layouts/base.html' %}
{% load home users %}
{% block content %}


<div class="max-w-2xl mx-auto p-6">
   <a href="{% url 'blogs:index' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block">
       回文章列表
   </a>
</div>


<div class="max-w-2xl mx-auto p-6 bg-white border border-gray-300 rounded-lg shadow-md">
   <!-- Display the image at the top of the blog post -->
   {% if blog.image %}
   <div class="mb-6">
       <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="rounded-lg shadow w-full h-auto">
   </div>
   {% endif %}


   <div class="mb-6">
       <h1 class="text-2xl font-bold mb-4 break-words">{{ blog.title }}</h1>


       <!-- Container for author, timestamp, and like button -->
       <div class="text-sm text-gray-600 mb-2 flex items-center justify-between">
           <div>
               <a href="#" class="relative" x-data="{show: false}" @mouseover="show=true" @mouseleave="show=false">
                   作者: {{ author_display_name }} {{ blog.author|teacher_icon }} |
                   {% include "users/partials/_user_card.html" with user=blog.author %}
               </a>
               <p class="inline-block"> 發表時間: {{ blog.created_at|standard_date }} </p>
           </div>

       </div>


       <div class="markdown-body max-w-full overflow-x-auto break-all p-5">
           {{ content_html|safe }}
       </div>
   </div>


   {% if user == blog.author %}
   <div class="flex justify-between items-center">
       <a href="{% url 'blogs:edit' blog.pk %}" class="text-blue-500 hover:text-blue-700">編輯</a>
       <form action="{% url 'blogs:delete' blog.pk %}" method="post">
           {% csrf_token %}
           <button type="submit" class="text-red-500 hover:text-red-700">刪除</button>
       </form>
   </div>
   {% endif %}
</div>
{% endblock %}