{% load static %}

{% if other_user %}
    <link href="{% static 'editors/collab.css' %}" rel="stylesheet"/>
    <script src="{% static 'editors/collab.js' %}" type="module"></script>
{% else %}
    <link href="{% static 'editors/individual.css' %}" rel="stylesheet"/>
    <script src="{% static 'editors/individual.js' %}" type="module"></script>
{% endif %}

<div class="flex flex-col gap-1 h-full text-black">
    <div>
        <label for="language-select">選擇程式語言：</label>
        <select id="language-select" class="md:mr-2 bg-white">
            <option value="javascript" selected>Javascript</option>
            <option value="python">Python</option>
        </select>
        <label for="theme-select">選擇背景顏色：</label>
        <select id="theme-select" class="md:mr-2 bg-white">
            <option value="vs-light" selected>亮色系</option>
            <option value="vs-dark">暗色系</option>
            <option value="hc-black">高對比</option>
        </select>
        <label for="font-size-select">選擇字體大小：</label>
        <select id="font-size-select" class="bg-white">
            <option value="12" selected>12</option>
            {% for i in '0123456789'|make_list %}
                <option value="{{ forloop.counter|add:12 }}">{{ forloop.counter|add:12 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="border-2">
        <div id="editor" class="w-full h-[40vh] md:h-[55vh]"></div>
    </div>


    <div class="h-[13vh] border-2 relative w-full bg-white rounded-b-lg shadow-lg overflow-auto p-2">
        <article id="result"></article>
        <button id="eval" class="btn btn-sm text-white bg-green-3 absolute right-1 bottom-1 z-20">執行程式</button>
    </div>
</div>

{% if other_user %}
<input type="hidden" id="editor-id" value="{{id}}">
<input type="hidden" id="other-user-name" value="{{other_user}}">
{% endif %}

{% csrf_token %}
<input type="hidden" id="typescript" value={% static 'editors/vs/language/typescript/ts.worker.js' %}>
<input type="hidden" id="editor-worker" value="{% static 'editors/vs/editor/editor.worker.js' %}">
<input type="hidden" id="eval-url" value="{% url "editors:index" %}">





