{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .editor-container {
            width: 80%;
            margin: auto
        }
        #editor {
            width: full;
            height: 50vh;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="{% static 'editors/editors.css' %}" />
    <script src="{% static 'editors/editors.js' %}" type="module"></script>
    <div class="editor-container">
        <h1>簡易編輯器</h1>
        <label for="language-select">選擇程式語言：</label>
        <select id="language-select">
            <option value="javascript" selected>JavaScript</option>
            <option value="python">Python</option>
            <option value="cpp">C++</option>
        </select>
        <label for="theme-select">選擇背景顏色：</label>
        <select id="theme-select">
            <option value="vs-light" selected>亮色系</option>
            <option value="vs-dark">暗色系</option>
            <option value="hc-black">高對比</option>
        </select>
        <label for="font-size-select">選擇字體大小：</label>
        <select id="font-size-select">
            <option value="12" selected>12</option>
            {% for i in '0123456789'|make_list %}
                <option value="{{ forloop.counter|add:13 }}">{{ forloop.counter|add:11 }}</option>
            {% endfor %}
        </select>

        <div id="editor"></div>
        <button id="eval">執行程式</button>
    </div>


    {% csrf_token %}
    <input type="hidden" id="css" value={% static 'editors/vs/language/css/css.worker.js' %}>
    <input type="hidden" id="html" value={% static 'editors/vs/language/html/html.worker.js' %}>
    <input type="hidden" id="typescript" value={% static 'editors/vs/language/typescript/ts.worker.js' %}>
    <input type="hidden" id="editor-worker" value="{% static 'editors/vs/editor/editor.worker.js' %}">
    <input type="hidden" id="eval-url" value="{% url "editors:index" %}">
</body>
</html>


