{% extends "layouts/base.html" %} {% block content %}{% load home %}
<div
  class="container px-4 mx-auto"
  x-data="{
  currentView: 'profile',
  showSubMenu: false,
  showSubMenu1: false,
  showSubMenu2: false,
  setView(view) {
    this.currentView = view;
    localStorage.setItem('currentView', view);
  }
}"

>
  <div class="flex items-start">
    <aside class="flex-shrink-0 w-64">
      <div class="mb-6">
        <div class="relative w-32 h-32 mt-4 mb-4">
          {% include "users/partials/_picture.html" with user=user size="32" margin="4" %}
          <a href="{% url 'users:profile_edit' %}">
            <i
              class="absolute bottom-0 right-0 p-1 text-gray-700 bg-gray-100 rounded-full fa-solid fa-camera"
            ></i>
          </a>
        </div>
        <h2 class="pl-8 text-lg font-semibold">{{ user }}</h2>
      </div>
      <nav>
        <ul class="space-y-2">
          <li>
            <a
              href="#"
              class="flex items-center"
              @click.prevent="showSubMenu2 = !showSubMenu2"
            >
              <i class="mr-2 fa-solid fa-user"></i>
              我的個人資料
            </a>
            <ul x-show="showSubMenu2" class="pl-6 mt-2 space-y-2">
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('profile')"
                >
                  基本資料
                </a>
              </li>
              <li>
                <a
                  href="{% url 'users:public_profile' user.id %}"
                  class="flex items-center text-gray-700"
                >
                  我公開的個人資料
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center md:max-w-2xl"
              @click.prevent="setView('notifications')"
            >
              <i class="mr-2 fa-solid fa-bell"></i>通知總覽
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center"
              @click.prevent="showSubMenu1 = !showSubMenu1"
            >
              <i class="mr-2 fa-solid fa-calendar-check"></i>
              我的預約
            </a>
            <ul x-show="showSubMenu1" class="pl-6 mt-2 space-y-2">
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('reservations_student')"
                >
                  <i class="fa-regular fa-calendar"></i>
                  我的課程
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('reservations_teacher')"
                >
                  <i class="fa-regular fa-calendar"></i>
                  我的授課時間
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center"
              @click.prevent="showSubMenu = !showSubMenu"
            >
              <i class="mr-2 fa-solid fa-clock-rotate-left"></i>
              我的足跡
            </a>
            <ul x-show="showSubMenu" class="pl-6 mt-2 space-y-2">
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('_my_questions')"
                >
                  我的發問
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('_answered_questions')"
                >
                  我回答過的
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('_my_blogs')"
                >
                  我發過的文章
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center"
              @click.prevent="setView('_my_drafts')"
              ><i class="mr-2 fa-solid fa-pen"></i>
              我的草稿
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="flex-grow w-full mt-8">
      <form
        x-show="currentView === 'profile'"
        class="w-3/5 p-6 ml-4 bg-white rounded-lg shadow"
        action="{% url 'users:profile' %}"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <h1 class="mb-2 text-2xl font-bold">我的個人資料</h1>
        <div class="flex flex-col md:flex-row">
          <div class="flex-grow pr-0 md:pr-8">
            <div class="mb-4">
              <label class="block mb-2 text-gray-700">使用者帳號</label>
              <div class="w-full p-2 bg-gray-100 border rounded">
                {{user.username}}
              </div>
            </div>
            <div class="mb-4">
              <label class="block mb-2 text-gray-700">Email</label>
              <div class="flex items-center">
                <div class="w-full p-2 bg-gray-100 border rounded">
                  {{user.email}}
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label class="block w-16 mb-2 text-gray-700">暱稱</label>
              <div class="w-full p-2 bg-gray-100 border rounded">
                {{ user.get_display_name|default:'' }}
              </div>
            </div>
            <div class="flex justify-center mt-4">
              <a
                class="px-4 py-2 text-white transition duration-300 bg-blue-600 rounded hover:bg-blue-700"
                href="{% url 'users:profile_edit' %}"
              >
                編輯個人資料
              </a>
            </div>
          </div>
        </div>
      </form>
        {% include 'users/_profile/_notifications.html' %}
        {% include 'users/_profile/_reservations_teacher.html' %}
        {% include 'users/_profile/_reservations_student.html' %}
        {% include 'users/_profile/_my_questions.html' %}
        {% include 'users/_profile/_answered_questions.html' %}
        {% include 'users/_profile/_my_blogs.html' %}
        {% include 'users/_profile/_my_drafts.html' %}
    </div>
  </div>
</div>

{% endblock %}
