<nav class="fixed top-0 left-0 w-full p-6 shadow-sm bg-blue-1" x-data="{ open: false }">
  <div class="flex items-center justify-between">
      <div class="text-lg font-bold text-green-3 animate-pulse">TechEcho( )</div>
      <button @click="open = !open" class="md:hidden">選單</button>
        <ul class="hidden space-x-4 md:flex" :class="{ 'hidden': !open, 'flex': open }">
          <li>
              <a href="#" class="transition duration-300 ease-in-out hover:text-gray-200">首頁</a>
          </li>
          <li>
              <a href="#" class="transition duration-300 ease-in-out hover:text-gray-200">討論</a>
          </li>
          <li>
              <a href="#" class="transition duration-300 ease-in-out hover:text-gray-200">發問</a>
          </li>
          <li>
              <a href="#" class="transition duration-300 ease-in-out hover:text-gray-200">設定</a>
          </li>
        </ul>
  </div>
</nav>